.App {
  text-align: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.Goods {
  height: 30vh;
  position:relative;
  top:10vh;
  background:black;
}

.loginButton {
  width: 150px;
  height: 50px;
}

.logoutbutton {
  position: absolute;
  bottom: 5%;
  left: 90%
}
.changeMode {
  position: absolute;
  bottom: 5%;
  right: 90%
}

.timeSelect {
  left: 45%;
  right: 45%;
  width: 10%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.chooseYourFighter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.fighter {
  margin-left: 50px;
  margin-right: 50px;
}

.fightCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  color: white
}

.log {
  color: #1db954
}

.utilitybuttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  grid-auto-rows: minmax(10px, 35px);
  color: white
}